<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Spicy_Bank_V2</display-name>
  <welcome-file-list>
    <welcome-file>homepage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Emp_Operations</display-name>
    <servlet-name>Emp_Operations</servlet-name>
    <servlet-class>com.spicybank.controller.Emp_Operations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp_Operations</servlet-name>
    <url-pattern>/customerdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransactionResults</display-name>
    <servlet-name>CustomerTransactionResults</servlet-name>
    <servlet-class>com.spicybank.controller.CustomerTransactionResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransactionResults</servlet-name>
    <url-pattern>/txnresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpLoginController</display-name>
    <servlet-name>EmpLoginController</servlet-name>
    <servlet-class>com.spicybank.controller.EmpLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLoginController</servlet-name>
    <url-pattern>/emplogincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registeruser</display-name>
    <servlet-name>Registeruser</servlet-name>
    <servlet-class>com.spicybank.controller.Registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registeruser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>com.spicybank.controller.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/createaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserloginController</display-name>
    <servlet-name>UserloginController</servlet-name>
    <servlet-class>com.spicybank.controller.UserloginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserloginController</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfo</display-name>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.spicybank.controller.UserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositController</display-name>
    <servlet-name>DepositController</servlet-name>
    <servlet-class>com.spicybank.controller.DepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositController</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOperations</display-name>
    <servlet-name>UserOperations</servlet-name>
    <servlet-class>com.spicybank.controller.UserOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOperations</servlet-name>
    <url-pattern>/Useroperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawlController</display-name>
    <servlet-name>WithdrawlController</servlet-name>
    <servlet-class>com.spicybank.controller.WithdrawlController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawlController</servlet-name>
    <url-pattern>/withdrawl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferController</display-name>
    <servlet-name>TransferController</servlet-name>
    <servlet-class>com.spicybank.controller.TransferController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferController</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.spicybank.controller.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>com.spicybank.controller.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>